= form_for @<%= singular_table_name %>, :html => { class: 'form-horizontal', role: 'fordb/migrate/20131119172026_create_diseños.rbm' } do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")}"
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .form-group
    = f.label :<%= attribute.name %>, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'
<% end -%>
  .actions
    = f.submit 'Guardar', class: 'btn btn-default'
