#region-<%= plural_table_name %>.container

  .region
    .region-title
      %h1= page_title!('Listando <%= plural_table_name %>')

    .region
      - if current_admin
        .admin-control
          = link_to 'Crear <%= human_name %>', new_<%= singular_table_name %>_path, class: 'btn btn-primary'

      .table-responsive
        %table.table
          %tr
<% for attribute in attributes -%>
            %th <%= attribute.human_name %>
<% end -%>
            %th
            %th
            %th

          - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
            %tr
<% for attribute in attributes -%>
              %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
              %td= link_to 'Ver', <%= singular_table_name %>, class: 'btn btn-info'
              %td= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-success'
              %td= link_to 'Eliminar', <%= singular_table_name %>, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger'
